<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="administrador.css">

    <title>Envios</title>
</head>
<body>
    <header class="header-upper">
        <div class="container__menu">
            <a href="#" class="logo">
                <img src="homeimagen.png" alt="Logo">
            </a>
            <nav>
                <ul>
                   
                   <li><a href="#">Cerrar sesion</a></li>

                   <li class="logo"><img src="logout.png" alt="logout"></li>
                    <li class="logo"><img src="logo2.png" alt="logo2"></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="contenedor-encuesta">
        <div class="imagen-encuesta">
          <img src="estado_paq.png" alt="enviosimg">
        </div>
        <div class="encuesta">
            <h1 style="color: 006376;" class="mensaje_estado">¿Cuál es el estado del paquete?</h1>
            <input type="text" placeholder="Código del paquete">
            <h2 style="color: 006376;" class="mensaje_estado">Estado</h2>
            <ul>
              <li>
                <input type="radio" id="estado-recogido" name="estado" value="recogido">
                <label for="estado-recogido">Recogido</label>
              </li>
              <li>
                <input type="radio" id="estado-en-bodega" name="estado" value="en_bodega">
                <label for="estado-en-bodega">En bodega</label>
              </li>
              <li>
                <input type="radio" id="estado-transportandose" name="estado" value="transportandose">
                <label for="estado-transportandose">Transportandose</label>
              </li>
              <li>
                <input type="radio" id="estado-entregado" name="estado" value="entregado">
                <label for="estado-entregado">Entregado</label>
              </li>
              <li>
                <a href="#"><button>Enviar</button></a>
              </li>
            </ul>
          </div>
      </div>
    <footer class="footer-lower">
        <!-- Contenido del footer inferior -->
    </footer>
    <script src="administrador.js"></script>
</body>
</html>