* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

/* Estilos para el header superior */
.header-upper {
    width: 100%;
    height: 70px;
    background-color: #F5BA53;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

/* Estilos para el footer inferior */
.footer-lower {
    width: 100%;
    height: 100px;
    background-color: #FCE8BC; /* Cambia el color según tu diseño */
    color: black; /* Cambia el color del texto según tu diseño */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Establece la posición fija */
    bottom: 0; /* Lo coloca en la parte inferior */
}
.container__menu {
    width: 100%;
    height: 70px;
    background-color: #F5BA53;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    max-width: 1200px;
    height: 100%;
  }
  
  nav {
    height: 100%;
  }
  
  nav > ul {
    height: 100%;
    display: flex;
  }
  
  nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
  }
  
  nav > ul > li:first-child {
    margin-left: auto; /* Movemos el primer elemento al extremo derecho */
  }

nav > ul > li > a {
    height: 100%;
    display: flex;
    color: #48698B;
    padding: 14px;
    text-transform: uppercase;
    align-items: center;
    transition: all 300ms ease;
    justify-content: space-between;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background-color: #FCE8BC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 100px; /* Tamaño ajustable de la imagen */
    width: auto;
    padding: 15px 0; /* Espacio entre la imagen y los enlaces */
    height: 100%;
    display: flex;
    color: #48698B;
    padding: 14px;
    text-transform: uppercase;
    align-items: center;
    transition: all 300ms ease;    
}

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -85px;
    padding: 14px 5px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

/* Estilo para la segunda imagen */
nav ul li:nth-child(3) img {
    height: 65px; /* Tamaño ajustable de la segunda imagen */
    width: auto;
    margin-left: 10px; 
}

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
}

nav ul li ul li button {
    background-color: #FCE8BC; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Tamaño del padding del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    margin-top: 10px; /* Ajusta el margen superior para separar el botón */
    position: relative; /* Establece la posición relativa */
    top: 10px; /* Mueve el botón hacia abajo */
}

nav ul li ul li button:hover {
    background-color: #FCE8BC; /* Cambia el color de fondo al pasar sobre el botón */
}

nav ul li ul li input[type="text"],
nav ul li ul li input[type="password"],
nav ul li ul li input[type="tel"],
nav ul li ul li input[type="email"] {
    padding: 10px; /* Tamaño del padding del campo de entrada */
    border: 1px solid #ccc; /* Agrega un borde alrededor del campo de entrada */
    border-radius: 5px; /* Agrega bordes redondeados al campo de entrada */
    font-size: 14px; /* Tamaño del texto del campo de entrada */
}

/* Estilo para el texto del placeholder */
nav ul li ul li input::placeholder {
    font-size: 12px; /* Tamaño del texto del placeholder */
    color: #999; /* Color del texto del placeholder */
}
/* Estilo para la segunda imagen */
nav ul li:nth-child(3) img {
    height: 65px; /* Tamaño ajustable de la segunda imagen */
    width: auto;
    margin-left: 10px; 
}

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
}

nav ul li ul li button {
    background-color: #FCE8BC; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Tamaño del padding del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    margin-top: 10px; /* Ajusta el margen superior para separar el botón */
    position: relative; /* Establece la posición relativa */
    top: 10px; /* Mueve el botón hacia abajo */
}

nav ul li ul li button:hover {
    background-color: #FCE8BC; /* Cambia el color de fondo al pasar sobre el botón */
}

nav ul li ul li input[type="text"],
nav ul li ul li input[type="password"],
nav ul li ul li input[type="tel"],
nav ul li ul li input[type="email"] {
    padding: 10px; /* Tamaño del padding del campo de entrada */
    border: 1px solid #ccc; /* Agrega un borde alrededor del campo de entrada */
    border-radius: 5px; /* Agrega bordes redondeados al campo de entrada */
    font-size: 14px; /* Tamaño del texto del campo de entrada */
}

/* Estilo para el texto del placeholder */
nav ul li ul li input::placeholder {
    font-size: 12px; /* Tamaño del texto del placeholder */
    color: #999; /* Color del texto del placeholder */
}

/* Estilo para el carrusel centrado */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajusta la altura según sea necesario */
}


/* Diseño para la encuesta de envíos */

/* Contenedor para la imagen y la encuesta */
.contenedor-encuesta {
    display: flex; /* Activa el modo flexbox */
    align-items: center; /* Alinea los elementos verticalmente al principio */
    margin-right: 1%;
  }
  /* Imagen */
.imagen-encuesta {
  width: 145%; /* Ajusta el ancho de la imagen al 30% */
  margin-right: 20px; /* Espacio entre la imagen y la encuesta */
  
}

.imagen-encuesta img {
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  width: 100%; /* Ancho completo para la imagen */
}

/* Encuesta */
.encuesta {
  width: 70%; /* Ajusta el ancho de la encuesta al 70% */
  padding: 20px; /* Espacio interno alrededor de la encuesta */
  border: 1px solid #ccc; /* Borde alrededor de la encuesta */
  border-radius: 5px; /* Bordes redondeados para la encuesta */
}

/* Estilos específicos para la imagen */
.imagen-encuesta img {
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  width: 100%; /* Ancho completo para la imagen */
}

/* Estilos específicos para la encuesta */
.encuesta {
  width: 78%; /* Ajusta el ancho de la encuesta al 70% */
  padding: 20px; /* Espacio interno alrededor de la encuesta */
  border: 8px solid #ccc; /* Borde alrededor de la encuesta */
  border-radius: 10px; /* Bordes redondeados para la encuesta */
}

/* Estilos para los campos de entrada */
.encuesta input[type="text"],
.encuesta input[type="tel"]
 
{ /* Se incluye el campo de número */
  width: 100%; /* Ancho completo para los campos de entrada */
  margin-bottom: 10px; /* Espacio entre los campos de entrada */
  padding: 10px; /* Espacio interno dentro de los campos de entrada */
  border: 2px solid #ccc; /* Borde alrededor de los campos de entrada */
  border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

/* Estilos para el botón */
.encuesta button {
  background-color: #fde8bd; /* Color de fondo del botón */
  color: black; /* Color del texto del botón */
  padding: 12px 20px; /* Tamaño del padding del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Bordes redondeados para el botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Estilos para el botón al pasar el cursor */
.encuesta button:hover{
    background-color: #f9d587;
}
/* Estilos generales para listas no ordenadas */
ul {
    list-style: none; /* Elimina los puntos de bala predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
  }
  
  /* Estilos generales para elementos de lista */
  li {
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
  }

  .seleccionador-peso {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 25%;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }


  
input[type="date"] {
  width: 150px; /* Ajusta el ancho */
  height: 0px; /* Ajusta la altura */
  padding: 10px; /* Agrega relleno */
  border: 2px solid #ccc; /* Agrega un borde */
  border-radius: 5px; /* Borde redondeado */
  background-color: #fff; /* Color de fondo */
  color: #333; /* Color del texto */
  font-family: sans-serif; /* Ajusta la fuente */
  margin-bottom: 9px;
}

.mensaje_estado{
    display: flex;
    margin-bottom: 3%;
    color: 006376;   
}
/* Estilos para los radio buttons */
.encuesta input[type="radio"] {
    margin-right: 10px; /* Espacio entre los radio buttons */
  }
  
  .encuesta label {
    display: inline-block; /* Permite que la etiqueta se muestre junto al radio button */
    margin-right: 10px; /* Espacio entre la etiqueta y el siguiente elemento */
    margin-bottom: 3%;
  }
