<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="compra.css">

    <title>Envios</title>
</head>
<body>
    <header class="header-upper">
        <div class="container__menu">
            <a href="#" class="logo">
                <img src="homeimagen.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Historial</a></li>
                    <li><a href="#">Envios</a></li>
                   <li><a href="#">Cerrar sesion</a></li>
                   <li class="logo"><img src="logout.png" alt="logout"></li>
                    <li class="logo"><img src="logo2.png" alt="logo2"></li>
                </ul>
            </nav>
        </div>
    </header>
    
        <div class="encuesta">
          <h1>!Gracias por confiar en la calidad de nuestros envios!</h1>
          <a href="/home_nico/home_nico.html"><button>Continuar</button></a>
        </div>
      </div>
    <footer class="footer-lower">
        <!-- Contenido del footer inferior -->
    </footer>
    <script src="envios.js"></script>
</body>
</html>