<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="envio.css">
    <title>Envios</title>
</head>
<body>
    <header class="header-upper">
        <div class="container__menu">
            <a href="#" class="logo">
                <img src="homeimagen.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="historial.html">Historial</a></li>
                    <li><a href="envio.html">Envios</a></li>
                   <li><a href="#">Cerrar sesion</a></li>
                   <li class="logo"><img src="logout.png" alt="logout" ></li>
                    <li class="logo"><img src="logo2.png" alt="logo2"></li>
                </ul>
            </nav>
        </div>
    </header>

    <form id="regForm" action="">
        <h1>Completar datos</h1>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
          <p><input placeholder="Tipo de producto" oninput="this.className = ''"></p>
          <p><input placeholder="Ciudad" oninput="this.className = ''"></p>
          <p><input placeholder="Dirección de inicio" oninput="this.className = ''"></p>
          <p><input placeholder="Adicional" oninput="this.className = ''"></p>
          <p><input placeholder="Dirección destino" oninput="this.className = ''"></p>
          <p><input placeholder="Nombre destinatario" oninput="this.className = ''"></p>
          <p><input placeholder="Telefono destinatario" oninput="this.className = ''"></p>
        </div>
        
        <div class="tab">
            <h3>Medidas:</h3>
        
                <p><input placeholder="Peso del paquete" oninput="this.className = ''">
                    <select id="unidad-peso" class="seleccionador-peso">
                            <option value="kg">Kg</option>
                            <option value="gr">Gr</option>
                            <option value="lb">Lb</option>
                    </select>
                </p>
              
            <p><input placeholder="Alto del paquete" oninput="this.className = ''">
                <select  id="unidad-peso" class="seleccionador-peso">
                    <option value="mt">Mt</option>
                    <option value="cm">Cm</option>
                </select>
            </p>
            <p><input placeholder="Ancho del paquete" oninput="this.className = ''">
                <select  id="unidad-peso" class="seleccionador-peso">
                    <option value="mt">Mt</option>
                    <option value="cm">Cm</option>
                </select>
            </p>
            <h3>Valor declarado:</h3>
            <p><input placeholder="Agregar un valor al paquete $" oninput="this.className = ''">
            </p>
        </div>
        
        <div class="tab">
            <h3>Fecha de envio:</h3>
          <p><input type="date" placeholder="Insertar fecha de envio" oninput="this.className = ''">
            <h3>Metodo de pago</h3>
         
            <select name="" id="unidad-peso" class="seleccionador-peso">
                <option value="c.c">T.C</option>
                <option value="cash">Efectivo</option>
            </select>
          
        </p>
         
        </div>
         <div class="tab">
            <h3>Validación de tarjeta de credito</h3>
          <p><input type="text" placeholder="Número de tarjeta" oninput="this.className = ''"> 
        </p>
        <br>
        <p>
            <label for="mes">Mes de Expiración:</label>
            <select id="mes" name="mes">
              <option value="01">Enero</option>
              <option value="02">Febrero</option>
              <option value="03">Marzo</option>
              <option value="04">Abril</option>
              <option value="05">Mayo</option>
              <option value="06">Junio</option>
              <option value="07">Julio</option>
              <option value="08">Agosto</option>
              <option value="09">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select> 
            <label for="anno">Año de Expiración:</label>
            <select id="anno" name="anno">
                <option value="01"></option>
              <option value="02">2024</option>
              <option value="03">2025</option>
              <option value="04">2026</option>
              <option value="05">2027</option>
              <option value="06">2028</option>
              <option value="07">2029</option>
              <option value="08">2030</option>
              <option value="09">2031</option>
            </select>
        </p>
        <br>
        <p>
            <input  placeholder="CVV" oninput="this.className = ''"> 
        </p>
        
         
        </div>
        
      
        
        <div style="overflow:auto;">
            <div style="float:right;">
              <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
              <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
              <button type="button" id="enviarBtn" style="display: none;" onclick="nextPrev(1)">Enviar</button>
            </div>
          </div>
        
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
        
    </form>
    <script src="envio.js"></script>
    
    <footer>
        <div class="footer-lower">
          <div class="container-body">
            <div class="colum1">
              <h2>INFORMACIÓN SOBRE LA EMPRESA</h2>
              <p>En Shipment fast, nos dedicamos a conectar personas y lugares en toda Colombia con envíos rápidos, seguros y confiables. Confía en nosotros para llevar tus paquetes con cuidado y atención.</p>
            </div>
            <div class="colum2">
              <h2>INFORMACIÓN DE CONTACTO</h2>
              <p>
                <ul>
                    <li>321-3000-643</li>
                    <li>Av. 70 #53-40, Bogotá</li>
                    <li>Universidad Libre de Colombia</li>
                </ul>
              </p>
            </div>
            <div class="colum3">
              <h2>REDES SOCIALES</h2>
              <div class="row">
                <a href="#">
                  <img src="instagram.png" alt="instagram" width="36" height="36">
                </a>
                <label> Instagram</label>
              </div>
              <div class="row">
                <a href="#">
                  <img src="twt.png" alt="X" width="36" height="36">
                </a>
                <label> X</label>
              </div>
              <div class="row">
                <a href="#">
                  <img src="gmail.png" alt="Mail" width="36" height="36">
                </a>
                <label>Shipment_fast@gmail.com</label>
              </div>
            </div>
          </div>
        </div>
      </footer>
    

  </div>
 


    <script src="envio.js"></script>   
</body>
</html>