<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="historial.css">
    <title>Historial</title>
 
</head>
<body>
    <header class="header-upper">
        <div class="container__menu">
            <a href="#" class="logo">
                <img src="homeimagen.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="historial.html">Historial</a></li>
                    <li><a href="envio.html">Envios</a></li>
                   <li><a href="#">Cerrar sesion</a></li>
                   <li class="logo"><img src="logout.png" alt="logout" ></li>
                    <li class="logo"><img src="logo2.png" alt="logo2"></li>
                </ul>
            </nav>
        </div>
    </header>
    <table id="myTable">
        <tr>
          <th>Guia</th>
          <th>Nombre remitente</th>
          <th>Nombre destinatario</th>
          <th>Estado</th>
          <th>Detalle</th>
          <th>Calificar</th>
        </tr>
        <tr id="no-data">
          <td colspan="6">No hay datos disponibles</td>
        </tr>
      </table>
      

        
    <footer>
        <div class="footer-lower">
          <div class="container-body">
            <div class="colum1">
              <h2>INFORMACIÓN SOBRE LA EMPRESA</h2>
              <p>En Shipment fast, nos dedicamos a conectar personas y lugares en toda Colombia con envíos rápidos, seguros y confiables. Confía en nosotros para llevar tus paquetes con cuidado y atención.</p>
            </div>
            <div class="colum2">
              <h2>INFORMACIÓN DE CONTACTO</h2>
              <p>
                <ul>
                    <li>321-3000-643</li>
                    <li>Av. 70 #53-40, Bogotá</li>
                    <li>Universidad Libre de Colombia</li>
                </ul>
              </p>
            </div>
            <div class="colum3">
              <h2>REDES SOCIALES</h2>
              <div class="row">
                <a href="#">
                  <img src="instagram.png" alt="instagram" width="36" height="36">
                </a>
                <label> Instagram</label>
              </div>
              <div class="row">
                <a href="#">
                  <img src="twt.png" alt="X" width="36" height="36">
                </a>
                <label> X</label>
              </div>
              <div class="row">
                <a href="#">
                  <img src="gmail.png" alt="Mail" width="36" height="36">
                </a>
                <label>Shipment_fast@gmail.com</label>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>