* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos para el header superior */
.header-upper {
    width: 100%;
    height: 70px;
    background-color: #F5BA53;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el footer inferior */
.footer-lower {
    width: 100%;
    height: 100px;
    background-color: #FCE8BC; /* Cambia el color según tu diseño */
    color: black; /* Cambia el color del texto según tu diseño */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Establece la posición fija */
    bottom: 0; /* Lo coloca en la parte inferior */
}

.container__menu {
    width: 100%;
    height: 70px;
    background-color: #F5BA53;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    max-width: 1200px;
    height: 100%;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child {
    margin-right: auto; /* Movemos el primer elemento al extremo derecho */
}

nav > ul > li > a {
    height: 100%;
    display: flex;
    color: #48698B;
    padding: 14px;
    text-transform: uppercase;
    align-items: center;
    transition: all 300ms ease;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background-color: #FCE8BC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 100px; /* Tamaño ajustable de la imagen */
    width: auto;
    padding: 15px 0; /* Espacio entre la imagen y los enlaces */
    height: 100%;
    display: flex;
    color: #48698B;
    padding: 14px;
    text-transform: uppercase;
    align-items: center;
    transition: all 300ms ease;
}

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -85px;
    padding: 14px 5px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

/* Estilo para la segunda imagen */
nav ul li:nth-child(3) img {
    height: 65px; /* Tamaño ajustable de la segunda imagen */
    width: auto;
    margin-left: 10px; 
}

nav ul li ul li a {
    display: block;
    color: black;
    padding: 6px;
    margin-left: 14px;
}

nav ul li ul li button {
    background-color: #FCE8BC; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Tamaño del padding del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    margin-top: 10px; /* Ajusta el margen superior para separar el botón */
    position: relative; /* Establece la posición relativa */
    top: 10px; /* Mueve el botón hacia abajo */
}

nav ul li ul li button:hover {
    background-color: #FCE8BC; /* Cambia el color de fondo al pasar sobre el botón */
}

nav ul li ul li input[type="text"],
nav ul li ul li input[type="password"],
nav ul li ul li input[type="tel"],
nav ul li ul li input[type="email"] {
    padding: 10px; /* Tamaño del padding del campo de entrada */
    border: 1px solid #ccc; /* Agrega un borde alrededor del campo de entrada */
    border-radius: 5px; /* Agrega bordes redondeados al campo de entrada */
    font-size: 14px; /* Tamaño del texto del campo de entrada */
}

/* Estilo para el texto del placeholder */
nav ul li ul li input::placeholder {
    font-size: 12px; /* Tamaño del texto del placeholder */
    color: #999; /* Color del texto del placeholder */
}

/* Estilo para el carrusel centrado */
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajusta la altura según sea necesario */
}

.carousel {
    padding: 23;
}


/* Estilos para el recuadro azul */
.container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Alinear los elementos a los extremos */
    align-items: center; /* Centrar verticalmente */
    padding: 10px;
    margin-bottom: 100px; /* Añade un margen inferior */
}

.blue-box {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    background-color: #3498db;
    padding: 10px;
    border-radius: 5px;
}

.small-box {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre el label y el input */
}

.blue-box input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Espacio entre el input y el botón */
}

.blue-box button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.carousel img {
    max-width: 60%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    transform: translatey(23%) translatex(33%);
    
    
   
}
.blue-box button:hover {
    background-color: #f0f0f0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}